* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 4px 35px;
  font-size: smaller;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f0f5fa;
  border: 1px solid #bbc9d8;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
}

.inputBox {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.inputBox::placeholder {
  color: #bbc9d8;
}

/* Main Component */
.main {
  flex: 1;
  background-color: #f0f5fa;
  padding: 25px;
}

.btn1 {
  display: flex;
  align-items: center;
  border: 1px solid #999aa1;
  background-color: white;
  color: #545454;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.btn2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #b2b3b9;
  background-color: white;
  color: #a1a1a1;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
}

.category-list {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  width: 100%; /* Full width of the device */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
}

.list-content {
  display: flex;
  gap: 15px;
  padding-bottom: 8px;
}

/* Drawer */
.drawer-header {
  background-color: #14147d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.drawer {
  position: fixed;
  top: 0;
  right: -600px; /* hidden position */
  width: 600px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
}

.drawer.open {
  right: 0; /* visible position */
}

.drawer-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer-content {
  flex: 1;
  padding: 20px;
}

.drawer-footer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  padding: 10px 15px;
}

.drawer-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.cancel-btn {
  outline: none;
  border: 1px solid #14147d;
  color: #14147d;
  padding: 8px 15px;
  border-radius: 8px;
}

.confirm-btn {
  outline: none;
  border: 1px solid #14147d;
  background: #14147d;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* dark overlay */
  backdrop-filter: blur(5px); /* blur effect */
  z-index: 1000; /* below the drawer */
}

/* tabs section */
.tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.tab.active {
  font-weight: bold;
  color: #14147d;
  border-bottom: 2px solid #14147d;
}

.tab:hover {
  background-color: #ddd;
}

.tab-content {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-top: none;
  background-color: #fff;
}

.widget-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.close-btn {
  background: transparent;
  color: rgb(124, 124, 124);
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.widget-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.widget-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.widget-form button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.widget-form button:hover {
  background-color: #2980b9;
}
